/* Template Picker Modal */
.gt-block-templates-template-picker-modal {
	width: 100%;
	height: 100%;

	.components-modal__header-heading {
		width: 100%;
	}

	.gt-template-picker-title {
		display: flex;
		font-size: 1rem;
		font-weight: bold;
	}

	.gt-template-picker-list {

		.gt-template-picker-grid {
			display: grid;
			grid-gap: 4px;
			grid-template-columns: repeat(auto-fill, minmax( 56px, 1fr ) );

			.gt-template-link {
				display: block;
				padding: 0;
				background: #f0f0f0;
				text-align: center;

				&:hover,
				&:active {
					background: #e0e0e0;
					cursor: pointer;
				}

				.gt-template-svg {
					display: inline-block;
					padding: 16px;

					.template {
						width: 24px;
						height: 24px;
						fill: #202020;
						vertical-align: middle;
						pointer-events: none;
					}
				}
			}
		}
	}
}

/* Template Picker Placeholder */
.gt-template-placeholder-wrapper {

	.gt-template-placeholder {
		min-height: 150px;
	}

	.gt-show-template-picker {
		display: block;
		color: inherit;
		padding: 0;
		width: 100%;
		text-align: inherit;
		font-size: inherit;

		.gt-template-svg .template {
			pointer-events: none;
		}

		&:not(:disabled):not([aria-disabled=true]):focus {
			background-color: inherit;
			color: inherit;
			box-shadow: none;
			outline: none;
		}
	}
}
